.container {
  width: 100vw;
  min-height: 100vh;
  gap: 2rem;
}

.privacy {
  gap: 1rem;
  width: 400px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .privacy {
    gap: 1rem;
    width: 300px;
    text-align: center;
  }
}
